<div class="box">
    <div class="grid grid-cols-6">
        <div class="col-span-3">
            <div class="flex items-center w-full">
                <img class="w-[5rem] h-[5rem] object-cover object-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3NnBd1lUUOcvpBbHow9U1ebrTm9zxkNxZlCbwV0zRPdb2mnr_8nbyeW0G-uMTdy-MLGs&usqp=CAU" 
                alt="">
                <div class="ml-5">
                    <p class="font-semibold text-lg">product title</p>
                    <p class="text-sm text-gray-400"> Size : M</p>
                    <p class="text-sm text-gray-400"> Color : Blue</p>
                </div>
            </div>
        </div>
        
        <div class="col-span-1">
            <p class="font-semibold text-lg">$444</p>
            
        </div>
        <div class="col-span-2">
            <p class="font-semibold text-lg"> Expected Delivery On Feb 08</p>
            <p class="text-sm">Your Item Has Benn Delivered</p>
        </div>
    </div>
</div>